<div class="row footer">
  <div class="col-6 copyright-col">
    <p class="footer-text">&copy; {{ "now" | date: "%Y" }} Allison Schenker. All rights reserved.</p>
  </div>
  <div class="col-6 copyright-col">
    <a href="https://adg.org/directory/11043-allison-schenker/" target="_blank"><img class="footer-logo" src="/assets/images/ADG_Logo_Lockup.png" title="ADG" alt="ADG" /></a>
    <a href="http://www.linkedin.com/in/allisonschenker" target="_blank"><img class="footer-logo" src="/assets/images/In-34px-R.png" title="Linked In - Allison Schenker" alt="Linked In"/></a>
    <a href="http://www.imdb.com/name/nm5089609/" target="_blank"><img class="footer-logo" src="/assets/images/imdb.png" title="IMDB - Internet Movie Database" alt="IMDB" /></a>
  </div>
</div>