<div class="row" id="accordion">
  {% for portfolio in site.portfolios %}
  <div class="card-header col-md-6 col-sm-6" id="heading{{ portfolio.title }}">
    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ portfolio.title }}" aria-expanded="true" aria-controls="collapse{{ portfolio.title }}">
        <img src="{{portfolio.img_src}}" alt="{{ portfolio.title }}" />
        <h2>{{ portfolio.title }}</h2>
    </button>
  </div>
  {% endfor %}
  {% for portfolio in site.portfolios %}
  <div id="collapse{{ portfolio.title }}" class="collapse col-md-12 col-sm-12" aria-labelledby="heading{{ portfolio.title }}" data-parent="#accordion">
    <div class="card">
      <div class="card-body">
        <div class="album py-5 bg-light-wht">
          <div class="container">
            <div class="row">
              {% for image in site.images %}
                {% if image.portfolio == portfolio.title %}
                  <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                      <img class="card-img-top" src="{{image.img_src}}" alt="{{ image.img_alt }}">
                      <div class="card-body">
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#imageModal">View</button>
                        <h3>{{image.title}}</h3>
                        <p class="card-text">{{image.credit}}</p>

                        <!-- Image Modal -->
                        <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="imageModalLabel">{{image.title}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <img class="card-img-top" src="{{image.img_src}}" alt="{{ image.img_alt }}">
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>