<div class="row" id="accordion">
  {% for portfolio in site.portfolios %}
  <div class="card-header col-md-6 col-sm-6" id="heading{{ portfolio.title }}">
    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ portfolio.title }}" aria-expanded="true" aria-controls="collapse{{ portfolio.title }}">
        <img src="{{portfolio.img_src}}" alt="{{ portfolio.title }}" />
        <h2>{{ portfolio.title }}</h2>
    </button>
  </div>
  {% endfor %}
  {% for portfolio in site.portfolios %}
  <div id="collapse{{ portfolio.title }}" class="collapse col-md-12 col-sm-12" aria-labelledby="heading{{ portfolio.title }}" data-parent="#accordion">
    <div class="card">
      <div class="card-body">
        <div class="album py-5 bg-light-wht">
          <div class="container">
            <div class="row">
              {% for image in site.images %}
                {% if image.portfolio == portfolio.title %}
                  <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                      <img class="card-img-top" src="{{image.img_src}}" alt="{{ image.img_alt }}">
                      <div class="card-body">
                        <h3>{{image.title}}</h3>
                        <p class="card-text">{{image.credit}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>