---
---
h1, h2, h3 {
  color: #fff;
}

.fixed-top {
    position: fixed;
    top: 1rem;
    right: 0;
    left: 0;
    z-index: 1030;
    opacity: 0.75;
}

img {
  width: 100%;
  vertical-align: middle;
  border-style: none; // Remove the border on images inside links in IE 10-.
}

.logo {
  max-width: 275px;
}

.nav-item {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(145,249,206);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}

body {
  background-color: #000;
  background-image: url("images/bkgd_50.png");
  background-repeat: repeat;
  color: #ddf7ed;
  margin: 0;
  padding: 0;
  min-width: 1000px;
  left: 0;
  top: 0;
  height: 100%;
  -webkit-background-size: 400px 200px;
  -moz-background-size: 400px 200px;
  -o-background-size: 400px 200px;
  background-size: 400px 200px;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(255,255,255,0.2);
    background-clip: border-box;
    border-radius: .25rem;
}

.bg-light-wht {
  background-color: none;
}
