---
---
h1,h2,h3,h4,h5,h6 {
  font-family: 'Vollkorn SC', serif;
  color: #91f9ce;
  a:hover {
    color: #fff;
  }
}

p {
  font-family: 'Vollkorn SC', serif;
  color: #91f9ce;
}

a {
  color: #91f9ce;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

.container-fluid {
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
}

.navbar-dark {
  top: 1rem;
  right: 0;
  left: 0;
  z-index: 1030;
  opacity: 0.65;
  border-radius: .25rem;
}

img {
  width: 100%;
  vertical-align: middle;
  border-style: none; // Remove the border on images inside links in IE 10-.
}

.logo {
  max-width: 450px;
}

.nav-item {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(145,249,206);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}

body {
  background-color: #000;
  background-image: url("images/bkgd_50.png");
  background-repeat: repeat;
  color: #ddf7ed;
  margin: 0;
  padding: 0;
  min-width: 1000px;
  left: 0;
  top: 0;
  height: 100%;
  -webkit-background-size: 400px 200px;
  -moz-background-size: 400px 200px;
  -o-background-size: 400px 200px;
  background-size: 400px 200px;
}

.home-features {
  margin: 0 auto;
  h2 {
    text-align: center;
  }
  img {
    border-radius: .25rem;
  }
}

.carousel-row {
  margin: 20px auto;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.2);
  background-clip: border-box;
  border-radius: .25rem;
  opacity: 0.65;
  h1 {
    margin: 0 auto;
    font-size: 32px;
    padding: 5px;
  }
}

.carousel-control-prev {
  margin-left: 15px;
}

.carousel-control-prev:hover {
  background-color: rgba(255, 255, 255, 0.2);
  background-clip: border-box;
}

.carousel-control-next {
  margin-right: 15px;
}

.carousel-control-next:hover {
  background-color: rgba(255, 255, 255, 0.2);
  background-clip: border-box;
  margin-right: 15px;
}

.card {
  padding: 3px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: .25rem;
  opacity: 0.65;
  h2 {
    margin: 0 auto;
  }
  .card-img-top {
    width: 100%;
    border-radius: .25rem;
  }
}

.btn:focus, .btn:hover {
  text-decoration: none;
  border: 1px solid #fff;
}

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #fff;
}

.card-body {
  padding: 1rem;
}

.bg-light-wht {
  background-color: none;
}
